<footer class="footer">
  <div class="footer_section_container">
    <section class="faq">
      <a href="/faq"><h6>FAQ</h6></a>
    </section>
    <section class="about_developer">
      <a href="/about_developer"><h6>About developer</h6></a>
    </section>
    <section class="api_used">
      <a href="/about_api"><h6>About API</h6></a>
    </section>
    <section class="image_used">
      <a href="/about_images"><h6>About Images</h6></a>
    </section>
  </div>
  <hr class="footer_line" />
  <div class="footer_bottom">
    <div class="footer_left_container">
      <p>
        <i class="fas fa-h-square"></i> Hotel-BNB
        <span>TLG-Amazon SDE Apprenticeship &copy; 2021 May</span>
      </p>
      <div>
        <a href="#"><i class="fab fa-github"></i> to view source code</a>
      </div>
    </div>
    <div class="footer_right_container">
      <i class="fas fa-angle-up up"></i>
    </div>
  </div>
</footer>
