<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a Host</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/post/becomePoster.css" />
  </head>
  <body>
    <!--Poster-->
    <section id="poster">
      <div id="top_div_left">
        <p class="posting">Posting</p>
        <p class="posting">makes Hotel-BnB,</p>
        <p class="posting">Hotel-BnB</p>  
      </div>
      <div id="top_div_right">
        <div class="host_picture"></div>
    </section>

    <!--Post Anything-->
    <section id="post-anything">
      <h1 class="section header">You can post anything, anywhere</h1>
        <div class="picture-scroll">
          <div id="posting-container">
              <div class="column" id="pic1">
               
              </div>
              <div class="column" id="pic2">
              
              </div>
              <div class="column" id="pic3">
              
              </div>
              <div class="column" id="pic4">
              
              </div>
              <div class="column" id="pic5">
              </div>
              <div class="column" id="pic6">
                
              </div>
            </div>
          </div>
        </div>
    </section>
    <section id="post-entire">
    </section>
  </body>
</html>

