<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a Poster</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/post/becomePoster.css" />
  </head>
  <body>
    <!--Poster-->
    <section id="poster">
      <div id="top_div_left">
        <p class="posting">Posting</p>
        <p class="posting">makes Hotel-BnB,</p>
        <p class="posting">Hotel-BnB</p>
      </div>
      <div id="top_div_right">
        <div class="post_picture"></div>
      </div>
    </section>
    <!--Post Anything-->
    <section id="post-anything">
      <div id="top">
        <h1 class="section-header">You can post anything, anywhere</h1>
        <div id="posting-container">
          <div class="column" id="pic1"></div>
          <div class="column" id="pic2"></div>
          <div class="column" id="pic3"></div>
          <div class="column" id="pic4"></div>
          <div class="column" id="pic5"></div>
          <div class="column" id="pic6"></div>
        </div>
      </div>
      <!--bottom section-->
      <div id="bottom">
        <h2 class="bottom-section-header">
          Post your hotels <br />
          HERE
        </h2>
        <div class="bottom-container">
          <div class="imagediv">
            <div class="card1">
              <div class="card1-caption">Post your hotels</div>
            </div>
            <div class="card2">
              <div class="card2-caption">Post your experience</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--art of posting-->
    <section id="art-hosting">
      <div
        style="font-size: 75px; padding: 200px 200px 200px 0; text-align: left"
      >
        We'll help you bring <br />
        the art of posting your hotel to life
      </div>
      <div class="posting-life">
        <div>
          <div id="lifeimage1"></div>
          <div class="lifeimage-caption">
            Learn <br />
            how we support Posters
          </div>
        </div>
        <div>
          <div id="lifeimage2"></div>
          <div class="lifeimage-caption">
            Join <br />
            an online class
          </div>
        </div>
        <div>
          <div id="lifeimage3"></div>
          <div class="lifeimage-caption">
            Ask <br />
            a Superposter
          </div>
        </div>
        <div>
          <div id="lifeimage4"></div>
          <div class="lifeimage-caption">
            Discover <br />
            more resources
          </div>
        </div>
      </div>
    </section>
    <section id="try-poster" style="margin-top: 200px">
      <div id="bottom_div_left">
        <div class="bottom-post-picture"></div>
      </div>
      <div id="bottom_div_right">
        <p class="posting-bottom">Try posting on</p>
        <p>Hotel-BnB,</p>
      </div>
    </section>
  </body>
</html>
