<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel-BNB</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/post/becomePoster.css" />
  </head>
  <body>
    <div id="top_div">
      <div id="top_div_left">
        <h1 class="h1_class">
          Hosting<br />
          makes Hotel-bnb, <br />
          Hotel-bnb
        </h1>
      </div>
      <div id="top_div_right">background2</div>
    </div>
  </body>
</html>
