<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a Poster</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/post/becomePoster.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!--Poster-->
    <section id="poster">
      <div id="top_div_left">
        <p class="posting">Posting</p>
        <p class="posting">makes Hotel-BnB,</p>
        <p class="posting">Hotel-BnB</p>
        <% if (!user) { %>
        <button class="button1" onclick="location.href='/auth/login'">
          Let's Login First
        </button>
        <% } else { %>
        <button class="button1" onclick="location.href='/hotel/new'">
          Let's Post!
        </button>
        <% } %>
      </div>
      <div id="top_div_right">
        <img
          class="right_side_image"
          src="https://images.unsplash.com/photo-1553369728-15ec6971afaf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmVjb21lJTIwYSUyMGhvc3R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
          alt=""
        />
      </div>
    </section>
    <!--Post Anything-->
    <section id="post-anything">
      <div id="top">
        <h1 class="section-header">You can post anything, anywhere</h1>
        <div id="posting-container">
          <div class="column" id="pic1"></div>
          <div class="column" id="pic2"></div>
          <div class="column" id="pic3"></div>
          <div class="column" id="pic4"></div>
          <div class="column" id="pic5"></div>
          <div class="column" id="pic6"></div>
        </div>
      </div>
      <!--bottom section-->
      <div id="bottom">
        <h2 class="bottom-section-header">
          Post your hotels <br />
          HERE
        </h2>
        <div class="bottom-container">
          <div class="imagediv">
            <div class="card1">
              <div class="card1-caption">Post your hotels</div>
            </div>
            <div class="card2">
              <div class="card2-caption">Post your experience</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--art of posting-->
    <section id="art-hosting">
      <p class="art-hosting-paragraph">
        We'll help you bring <br />
        the art of posting your hotel to life
      </p>

      <div class="posting-life">
        <div class="image_container">
          <img
            class="posting_life_image"
            src="https://images.unsplash.com/photo-1594055797771-336980a210c9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGFpcmJuYiUyMGhvc3R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="image_container">
          <img
            class="posting_life_image"
            src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8b25saW5lJTIwY2xhc3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="image_container">
          <img
            class="posting_life_image"
            src="https://images.unsplash.com/photo-1562141989-a764b5668046?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGFzayUyMGElMjBzdXBlcnBvc3RlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="image_container">
          <img
            class="posting_life_image"
            src="https://images.unsplash.com/photo-1541616461010-03ec2728e6a5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjE5fHxtb3JlJTIwcmVzb3VyY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
      </div>
    </section>
    <section id="try-poster" style="margin-top: 200px">
      <div id="bottom_div_left">
        <div class="bottom-post-picture"></div>
      </div>
      <div id="bottom_div_right">
        <p class="posting-bottom">Try posting on</p>
        <p>Hotel-BnB,</p>
        <% if (!user) { %>
        <button class="button2" onclick="location.href='/auth/login'">
          Let's Login First
        </button>
        <% } else { %>
        <button class="button2" onclick="location.href='/hotel/new'">
          Let's Post!
        </button>
        <% } %>
      </div>
    </section>
    <script src="/js/root/dropdown.js" defer></script>
  </body>
</html>
